<div class="container" *ngIf="job | async; let job;">
  <div class="jumbotron col-md-8">
    <h2>{{job.title}}</h2>
    <p><span class="glyphicon glyphicon-map-marker"></span> {{job.location}}</p>
    <p><span class="glyphicon glyphicon-briefcase"></span> {{job.experience}}+ years</p>

    <p><span *ngFor="let keyword of job.keywords"><span class="label label-primary" [style.background]="map[keyword]">{{keyword}}</span> </span>
    </p>
  </div>
  <div class="col-md-4">
    <p><a class="btn btn-success btn-lg" [href]="job.url">Click to apply</a></p>
    <p>
      <button class="btn btn-info btn-lg"><span class="glyphicon glyphicon-pushpin"></span> Add to wishlist</button>
    </p>
  </div>
</div>

